#Transaction_header{
    display: grid;
    text-align: center;
    grid-template-columns: 20% 20% 20% 40% ;
  }
  #Transaction_header div{
    border: 1px solid gray;
  }
  #Transaction_details{
    display: grid;
    text-align: center;
    grid-template-columns: 20% 20% 20% 40% ;
  }
  #Transaction_details div{
    border: 1px solid gray;
  }

  .sm-card{
      border: 5px solid black;
  }